.actualbody{
    height: 550px;
    width: 300px;
    border-radius: 30px;
    background-color: rgb(210, 210, 210);
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    align-items: center;
    box-shadow: inset 0 0 20px 3px black;
    -webkit-box-reflect: below 8px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.1)));
}

#rotate-btn{
    position: relative;
    left: 100px;
    top: 11px;
    transition: all 0.2s;
    border: none;
    background: transparent;
}

#rotate-btn:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.rotate-clockwise
{
    transform: rotateZ(90deg);
}

.rotate-anti-clockwise
{
    transform: rotateZ(-90deg);
}