/* Container for menu */
.menu-container{
    display: flex;  
    justify-content: space-between;  
}


.menu{
    background-color: #ededed;
    height: 259px;
    width: 118px;

}

.ipod_name{
    margin: 15px;
    font-weight: 700;
    font-size: 1.1rem;
}

/* container for second-half images in menu */
.second-half{
    border-left: 1px solid #c4c4c470;
    background-color: #ededed;
    height: 259px;
    width: 151px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Heading of menu */
h3{
    text-align: center;
    margin: 0px;
    padding: 0px;
}

/* List for menu items */
ul{
    width: 100%;
    padding: 0px;
    list-style: none;
    text-align: left;
}

/* list item */
li{
    padding: 10px 0px;
}

/* Active list item */
.active{
    padding-left: 5px;
    position: relative;
    background-color: #bf5656;
    color: white;
    box-shadow: inset 0px 0px 3px 1px #5c2020;
}


/* second-half image */
.second-half-img{
    height: 90%;
    width: 90%;
    border-radius: 7px;
    box-shadow: 1px 1px 3px 0px black;
}